[project]
	description = A demonstration app for the Grails 1.2 build listening feature.
[access "refs/*"]
	owner = group user/Alex Kiernan (akiernan)
[access "refs/for/refs/*"]
	read = group user/Alex Kiernan (akiernan)
	push = group user/Alex Kiernan (akiernan)
	label-Code-Review = -2..+2 group user/Alex Kiernan (akiernan)
	label-Verified = -1..+1 group user/Alex Kiernan (akiernan)
	rebase = group user/Alex Kiernan (akiernan)
	removeReviewer = group user/Alex Kiernan (akiernan)
	submit = group user/Alex Kiernan (akiernan)
[access "refs/heads/*"]
	read = group user/Alex Kiernan (akiernan)
	create = group user/Alex Kiernan (akiernan)
	push = +force group user/Alex Kiernan (akiernan)
	pushMerge = group user/Alex Kiernan (akiernan)
[access "refs/tags/*"]
	push = +force group user/Alex Kiernan (akiernan)
	pushTag = group user/Alex Kiernan (akiernan)
	pushSignedTag = group user/Alex Kiernan (akiernan)
